////
// Single
// v1.0.0 | Public domain
//

// `width`
// ---------------------------------------------------------------- //

.W-a {
  width: auto !important;
}

@for $i from 0 through 100 {
  .W-#{$i} {
    width: $i * 1% !important;
  }
}

// `height`
// ---------------------------------------------------------------- //

.H-a {
  height: auto !important;
}

@for $i from 0 through 100 {
  .H-#{$i} {
    height: $i * 1% !important;
  }
}

// `padding`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .P-#{$i} {
    padding: $i * 1px !important;
  }

  .PX-#{$i} {
    padding-right: $i * 1px !important;
    padding-left: $i * 1px !important;
  }

  .PY-#{$i} {
    padding-top: $i * 1px !important;
    padding-bottom: $i * 1px !important;
  }

  .PT-#{$i} {
    padding-top: $i * 1px !important;
  }

  .PR-#{$i} {
    padding-right: $i * 1px !important;
  }

  .PB-#{$i} {
    padding-bottom: $i * 1px !important;
  }

  .PL-#{$i} {
    padding-left: $i * 1px !important;
  }
}

// `margin`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .M-#{$i} {
    margin: $i * 1px !important;
  }

  .MX-#{$i} {
    margin-right: $i * 1px !important;
    margin-left: $i * 1px !important;
  }

  .MY-#{$i} {
    margin-top: $i * 1px !important;
    margin-bottom: $i * 1px !important;
  }

  .MT-#{$i} {
    margin-top: $i * 1px !important;
  }

  .MR-#{$i} {
    margin-right: $i * 1px !important;
  }

  .MB-#{$i} {
    margin-bottom: $i * 1px !important;
  }

  .ML-#{$i} {
    margin-left: $i * 1px !important;
  }
}

.M-a {
  margin: auto !important;
}

.MX-a {
  margin-right: auto !important;
  margin-left: auto !important;
}

.MR-a {
  margin-right: auto !important;
}

.ML-a {
  margin-left: auto !important;
}

// `border-width`
// ---------------------------------------------------------------- //

.BdW-n {
  border-width: none !important;
}

.BdXW-n {
  border-right-width: none !important;
  border-left-width: none !important;
}

.BdYW-n {
  border-top-width: none !important;
  border-bottom-width: none !important;
}

.BdTW-n {
  border-top-width: none !important;
}

.BdRW-n {
  border-right-width: none !important;
}

.BdBW-n {
  border-bottom-width: none !important;
}

.BdLW-n {
  border-left-width: none !important;
}

// `box-sizing`
// ---------------------------------------------------------------- //

.BxS-cB {
  box-sizing: content-box !important;
}

.BxS-bB {
  box-sizing: border-box !important;
}

// `display`
// ---------------------------------------------------------------- //

.D-i {
  display: inline !important;
}

.D-b {
  display: block !important;
}

.D-iB {
  display: inline-block !important;
}

.D-tb {
  display: table !important;
}

.D-tbR {
  display: table-row !important;
}

.D-tbC {
  display: table-cell !important;
}

// `float`
// ---------------------------------------------------------------- //

.Fl-r {
  float: right !important;
}

.Fl-l {
  float: left !important;
}

.Fl-n {
  float: none !important;
}

// `clear`
// ---------------------------------------------------------------- //

.Cl-r {
  clear: right !important;
}

.Cl-l {
  clear: left !important;
}

.Cl-b {
  clear: both !important;
}

.Cl-n {
  clear: none !important;
}

// `position`
// ---------------------------------------------------------------- //

.Pos-s {
  position: static !important;
}

.Pos-r {
  position: relative !important;
}

.Pos-a {
  position: absolute !important;
}

.Pos-f {
  position: fixed !important;
}

// `top`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .T-#{$i} {
    top: $i * 1px !important;
  }
}

// `right`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .R-#{$i} {
    right: $i * 1px !important;
  }
}

// `bottom`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .B-#{$i} {
    bottom: $i * 1px !important;
  }
}

// `left`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .L-#{$i} {
    left: $i * 1px !important;
  }
}

// `z-index`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .Z-#{$i} {
    z-index: $i * 100 !important;
  }
}

// `font-weight`
// ---------------------------------------------------------------- //

@for $i from 1 through 9 {
  .FW-#{$i}00 {
    font-weight: $i * 100 !important;
  }
}

// `font-size`
// ---------------------------------------------------------------- //

@for $i from 0 through 100 {
  .FZ-#{$i} {
    font-size: $i * 1px !important;
  }
}

// `cursor`
// ---------------------------------------------------------------- //

.Cur-a {
  cursor: auto !important;
}

.Cur-d {
  cursor: default !important;
}

.Cur-p {
  cursor: pointer !important;
}

.Cur-t {
  cursor: text !important;
}

// Others
// ---------------------------------------------------------------- //

.Cf::after {
  content: '';
  clear: both;
  display: table;
}
